name: Build

on:
  push:
    paths:
      - "**.dart"
      - "**.lock"
      - ".github/workflows/build.yaml"
  pull_request:
    paths:
      - "**.dart"
      - "**.lock"
      - ".github/workflows/build.yaml"

permissions:
  contents: write

jobs:
  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      tag: ${{ github.ref_name }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: build
          merge-multiple: true

      - name: Create release
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="$tag" \
              --generate-notes

      - name: Upload assets
        run: |
          gh release upload "$tag" build/*

  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            output-name: tuxshare-x86_64-linux
          - os: windows-latest
            output-name: tuxshare-x86_64-windows.exe

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Fetch dependencies
        run: |
          dart pub get

      - name: Build
        run: |
          mkdir build
          dart compile exe bin/tuxshare.dart -v -o build/${{ matrix.output-name }}

      - name: Upload workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.output-name}}
          path: build/${{ matrix.output-name }}
