name: Checks

on:
  push:
  pull_request:

jobs:
  check:
    name: Check code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run checks
        run: |
          nix develop --command -- dart pub get
          nix develop --command -- pre-commit -- run --all-files
